/* */
header {
background: url(images/cliff_ocean.jpg) 0 -200px no-repeat;
background-size: 1500px;
height: 400px;
/*background-repeat: no-repeat;*/
padding-top: 50px;
padding-left: 50px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif; /* sans-serif is default in all computers */

}
li {
list-style-type: none;
display: inline;
padding: 0 20px;
}
li a {
text-decoration: none; /* When a added, default is link, so to remove it */
}
/* Pesudo Class - to style text links */
li a:link {
color:#000; /* Before click */
}
li a:visited {
color:#818db3; /* After click */
}
li a:hover {
color:#333; /* Mouse over */
}
li a:active {
color:#753a30; /* Mouse down */
}
nav#topnav {
background-color: rgba(255, 245, 238, 0.8); /* a stand for the last digit is for opacity */
height: 50px;
text-align: center;
padding-top: 2px;
}
nav#topnav a{
font-family: Arial, Helvetica, sans-serif;
}
/*main {
height: 400px;
}*/
main h1{
color:rgb(129,141,179);
font-family: Arial, Helvetica, sans-serif;
}
footer {
height: 40px;
background-color: rgb(129,141,179);
text-align: center;
padding-top: 20px;
color: rgb(211,218,240);
}